@model BM.Models.Tenant
@using Insya.Localization
@using Microsoft.Extensions.Options

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="title">Details</h1>
    <div class="card">
        <div class="card-body">
            <h4>Building</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_addRoomRental" tabindex="-1" aria-labelledby="modal_addRoomRental" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RoomRentalLabel">
                    <i class="icon-plus2 mr-1"></i>
                    @Html.Raw(Localization.Get("Add Tenantes"))
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="TenantId" name="TenantId" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <label for="RoomId">@Html.Raw(Localization.Get("Rooms"))</label>
                    <select name="RoomId" id="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                </div>
              
              
                <div class="form-group">
                    <label for="BusinessAreaId">@Html.Raw(Localization.Get("BusinessAreas"))</label>
                    <select name="BusinessAreaId" id="BusinessAreaId" class="form-control" asp-items="ViewBag.BusinessAreaId"></select>
                </div>
                <div class="form-group">
                    <label for="TotalPrice">@Html.Raw(Localization.Get("TotalPrice"))</label>
                    <input type="text" id="TotalPrice" name="TotalPrice" class="form-control" />
                </div>
             
            </div>

            <div class="modal-footer">
                <button class="btn btn-link" data-bs-dismiss="modal">
                    <i class="icon-cross2 font-size-base mr-1"></i> Close
                </button>
                <button class="btn bg-primary" onclick="SaveRoomRental()">
                    <i class="icon-checkmark3 font-size-base mr-1"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>
@* <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_addRoomRental">
    + AddRoomRental
</button> *@

@* <div class="card">
    <div class="header">
        <h5 class="card-title">Room Rental</h5> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                 
                        @foreach (var te in Model.RoomRentals)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <p>@te.Tenant?.Name</p> 
                                    <div class="card-body">
                                        <p>@te.BusinessArea.Name</p> 
                                        <p>@te.Room?.Name</p> 
                                        <p>@te.TotalPrice</p>
                                        <p>@te.IsActive</p>
                                        <p>@te.StartDate</p>
                                    </div>
                                <div class="card-footer">
                                  
                                </div>
                                </div>
                            </div>
                        }
                 
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
     
    </div>
</div> *@

@section Scripts {
    <Style>

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .card {
            background-color: #f7f7f7;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 20px;
        }

        dl {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        dt {
            font-weight: bold;
            margin-bottom: 10px;
        }

        dd {
            margin-bottom: 20px;
        }

    </Style>

    <script>
      
                    
        function SaveRoomRental() {
            let tenantId = $('#TenantId').val();
            let roomId = $('#RoomId').val();
            let businessAreaId = $('#BusinessAreaId').val();
            let totalPrice = $('#TotalPrice').val();
            

            $.ajax({
                type: 'POST',
                url: '/BuildingTenants/AddRoomRentals',
                data: {
                    'TenantId': tenantId,
                    'RoomId': roomId,
                    'BusinessAreaId': businessAreaId,
                    'TotalPrice': totalPrice
                    
                },
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert('Error adding roomrental.');
                }
            });
        }
    </script>
}