@model BM.Models.ItemEntryVaration

@{
    ViewData["Title"] = "Details";
}

<h1>Item Variation Details</h1>

<div>
    <h4>Item Variation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:C}", Model.Price)  <!-- Format as currency -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Active Status")
        </dt>
        <dd class="col-sm-10">
            @(Model.IsActive ? "Yes" : "No") <!-- User-friendly boolean representation -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Deleted Status")
        </dt>
        <dd class="col-sm-10">
            @(Model.IsDeleted ? "Yes" : "No") <!-- User-friendly boolean representation -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemEntry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemEntry.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Varation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Varation.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VarationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VarationType.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>