@model IEnumerable<BM.Models.Owner>

@{
    ViewData["Title"] = "Owners List";
}

<h1>Owners List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
                <th>@Html.DisplayNameFor(model => model.First().Tin)</th>
                <th>@Html.DisplayNameFor(model => model.First().Verified)</th>
                <th>@Html.DisplayNameFor(model => model.First().RegisteredDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().IsActive)</th>
                <th>@Html.DisplayNameFor(model => model.First().IsDeleted)</th>
                <th>@Html.DisplayNameFor(model => model.First().Document)</th>
                <th>@Html.DisplayNameFor(model => model.First().OwnershipType)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tin)</td>
                    <td>@(item.Verified ? "Yes" : "No")</td>
                    <td>@Html.DisplayFor(modelItem => item.RegisteredDate.ToString("yyyy-MM-dd"))</td>
                    <td>@(item.IsActive ? "Yes" : "No")</td>
                    <td>@(item.IsDeleted ? "Yes" : "No")</td>
                    <td>
                        @if (item.Document != null)
                        {
                            @Html.DisplayFor(modelItem => item.Document.Name)
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnershipType.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link text-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>