@model BM.Models.Location

@{
    ViewData["Title"] = "Confirm Deletion of Location";
}

<h1>Confirm Deletion</h1>

<h3>Are you sure you want to delete this location? This action cannot be undone.</h3>
<div class="card">
    <div class="card-body">
        <h4>Location Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Coordinates)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Coordinates)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-10">
                @(Model.IsActive ? "Yes" : "No")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @(Model.IsDeleted ? "Yes" : "No")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @(Model.City != null ? Html.DisplayFor(model => model.City.Name) : "N/A")
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>