@model BM.Models.User

@{
    ViewData["Title"] = "Details";
}

@ViewBag.Message


 @* @TempData["SuccessMessage"] *@
@* @if (!string.IsNullOrEmpty(ViewBag.VerificationCode))
{
    <div class="alert alert-info">
        The verification code sent is: @ViewBag.VerificationCode
    </div>
} *@

@* Your verfication code send to @TempData["email"] *@

<form asp-action="VerifyEmail" asp-controller="Profile" method="post">
    <label>Email:</label>
    <input type="email" name="email" required />
    <button type="submit">Verify Email</button>
</form>
@* <form asp-action="CheckCode" asp-controller="Profile" method="post">
    <label>Verficationcode:</label>
    <input type="text" name="verficationcode" required />
    <button type="submit">Send</button>
</form> *@

@TempData["errr"]
@TempData["rt"]